body {
    font-family: 'Public Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
  }


.header__logo-letters{
    display: inline;
    width: 30px;
    margin: 0 -5px;
   
}

.logo__let{
    margin: 0 -1.75px;
}


